﻿<!DOCTYPE html>
<html ng-app="theMachineModule">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <link href="../Content/angular-material.min.css" rel="stylesheet" />
    <link href="../Content/angular-material.layouts.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular-animate.min.js"></script>
    <script src="../Scripts/angular-aria.min.js"></script>
    <script src="../Scripts/angular-material.min.js"></script>
    <script src="../Scripts/CustomScripts/theMachineModule.js"></script>
    <title></title>
    <meta charset="utf-8" />
</head>
<body ng-controller="theMachineController">

    <md-grid-list id="#left" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="10px" md-gutter-gt-sm="6px">
        <md-grid-tile class="blue"
                      md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <div flex-gt-sm="30" flex="">
                <md-content>
                    <md-list flex="">
                        <md-list-item class="md-2-line" ng-repeat="item in AllProducts" ng-click="Show(item.ID)">
                            <div style="margin:10px; height:100px; max-width:100%; text-align:center">
                                <img style="height:auto; max-width:100%" ng-src="{{item.ProductImage}}" />
                            </div>
                        </md-list-item>
            </div>
        </md-grid-tile>



        <md-grid-tile ng-show="vsCard" md-rowspan="2" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
            <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
                <div ng-show="vsChangeInfo">
                    <md-card-title>
                        <md-card-title-text>
                            <h3>Alındı: {{CardData.ProductName}}</h3>
                            <h4>Say: {{CountToBuy}}</h4>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                <div>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{CardData.ProductName}}</span>
                            <span class="md-subhead">{{CountToBuy}} Ədəd - {{Price}}AZN</span><span ng-show="vsStokError" style="font-size:8pt; color:#fc5858">Stokda qalmayıb</span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content layout="row" layout-align="space-between">
                        <md-card-title-media>
                            <div style="height:200px; max-width:100%; text-align:center">
                                <img style="height:auto; max-width:160px" ng-src="{{CardData.ProductImage}}" />
                            </div>
                        </md-card-title-media>
                        <md-card-actions layout="column">
                            <md-button class="md-icon-button" aria-label="Favorite" ng-click="Inc(CardData.UnitPrice); CheckCount(CardData.ID, CountToBuy)">
                                <i class="material-icons">add_box</i>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="Dec(CardData.UnitPrice); CheckCount(CardData.ID, CountToBuy)">
                                <i class="material-icons">indeterminate_check_box</i>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share" ng-click="Hide()">
                                <i class="material-icons">close</i>
                            </md-button>
                        </md-card-actions>
                        <md-input-container style="margin-bottom:-10px;" ng-if="CountToBuy != 0" ng-show="vsMoney">
                            <label>Pul(ancaq rəqəm və nöqtə (AZN))</label>
                            <input name="number" is-number ng-model="wks.number" ng-change="CheckMoney(wks.number)">
                            <span ng-show="!wks.validity">Value is invalid</span>
                            <span ng-show="vsMoneyError" style="font-size:8pt; color:#fc5858">Kifayət qədər daxil edilməyib</span>
                            <span ng-show="vsChangeInfo" style="font-size:8pt; color:#14f24f">Qalıq: {{wks.number - Price}}</span>

                        </md-input-container>

                        <md-button data-toggle="modal" data-target="#myModal" class="md-primary md-raised edgePadding" ng-click="Buy(CardData.ID,Price)" ng-show="vsBuyButton" ng-if="CountToBuy != 0">Alın</md-button>

                    </md-card-content>
                </div>
            </md-card>
        </md-grid-tile>
    </md-grid-list>



</body>
</html>
